<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Panel Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <h2>Panel Admin</h2>

  <button id="logoutBtn">Cerrar sesión</button>

  <hr>

  <h3>Materiales</h3>
  <div id="listaMateriales"></div>

  <div id="mensaje" style="
  display:none;
  margin:10px 0;
  padding:10px;
  background:#d1fae5;
  color:#065f46;
  border-radius:4px;
  font-weight:bold;
">
  Precio actualizado
</div>


  <script type="module" src="../JS/admin.js"></script>

</body>
</html>
