<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Trabajos reales</title>
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/trabajos.css">
</head>
<body>

<!-- HEADER -->
<header>
  <div class="logo">
    <h1><a href="../index.html"><img src="../Images/logo3.png"></a></h1>
  </div>

  <nav>
    <ul>
      <li><a href="../index.html#productos">Productos</a></li>
      <li><a href="../index.html#proceso">Cómo trabajamos</a></li>
      <li><a href="../index.html#galeria">Galería</a></li>
      <li><a href="../index.html#contacto">Contacto</a></li>
    </ul>
  </nav>
</header>

<section class="trabajos">

  <h1>Trabajos reales</h1>

  <!-- FILTRO -->
  <div class="filtros">
    <button data-filter="all" >Todos</button>
    <button data-filter="cocina" >Cocinas</button>
    <button data-filter="dormitorio" >Dormitorio</button>
    <button data-filter="bano" >Baño</button>
    <button data-filter="locales" >Locales</button>
    <button data-filter="diseno" >Diseños</button>
  </div>

  <!-- GRID -->
  <div class="grid">

    <article class="card cocina" onclick="openModal(1)">
      <img src="../Images/cocina/1.jpg" alt="Cocina a medida">
      <h3>Amoblamiento completo</h3>
    </article>

    <article class="card dormitorio" onclick="openModal(2)">
      <img src="../Images/dormitorio/1.jpg" alt="hechos a medida">
      <h3>Placard corredizo</h3>
    </article>

    <article class="card bano" onclick="openModal(3)">
      <img src="../Images/bano/1.jpg" alt="Lavatorio de bano">
      <h3>Lavatorio</h3>
    </article>

    <article class="card locales" onclick="openModal(4)">
      <img src="../Images/locales/1.jpg" alt="Muebles para local comercial">
      <h3>Muebles para locales a medida</h3>
    </article>

    <article class="card cocina" onclick="openModal(5)">
      <img src="../Images/cocina/4.jpg" alt="Cocina a medida">
      <h3>Cocina en L con vinoteca</h3>
    </article>

    <article class="card dormitorio" onclick="openModal(6)">
      <img src="../Images/dormitorio/4.jpg" alt="Tocador">
      <h3>Tocador</h3>
    </article>

    <article class="card bano" onclick="openModal(7)">
      <img src="../Images/bano/3.jpg" alt="Mueble flotante para lavatorio">
      <h3>Mueble flotante para lavatorio</h3>
    </article>

     <article class="card diseno" onclick="openModal(8)">
      <img src="../Images/diseno/2.jpg" alt="Diseño de Zapatero">
      <h3>Zapatero</h3>
    </article>

     <article class="card diseno" onclick="openModal(9)">
      <img src="../Images/diseno/4.jpg" alt="Bajo mesada y alacena">
      <h3>Bajo mesada y alacena</h3>
    </article>

     <article class="card diseno" onclick="openModal(10)">
      <img src="../Images/diseno/5.jpg" alt="lavatorio">
      <h3>Lavatorio</h3>
    </article>

  </div>
</section>

<!-- MODAL -->
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">×</span>

    <h2 id="modal-title"></h2>

    <div class="modal-media">
      <!-- imágenes o video -->
    </div>

    <p id="modal-desc"></p>
  </div>
</div>

<script src="../JS/trabajos.js"></script>
</body>
</html>
